.wrapper {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  background-color: var(--bg-block);
  margin-top: 1rem;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--bg-block);
  scrollbar-gutter: stable;
}

.tableWrapper {
  border-radius: 12px;
  overflow: hidden;
  width: fit-content;
  min-width: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 15px;
  text-align: center;
  background-color: var(--bg-block);
}

th,
td {
  padding: 13px 16px;
  border: 1px solid var(--border);
  color: var(--text-main);
  min-width: 50px;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.cellContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px;
  cursor: col-resize;
  user-select: none;
  background-color: transparent;
  transition: background-color 0.2s;
}

.resizer:hover {
  background-color: var(--border);
}

tbody tr {
  transition: var(--tr);
}

tbody tr:hover {
  background-color: var(--bg-hover);
}

@media (max-width: 900px) {
  th,
  td {
    padding: 10px 8px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .table {
    font-size: 13px;
  }

  th,
  td {
    padding: 8px 6px;
    font-size: 13px;
  }
}
